.main {
    min-height: 850px;
    min-width: 1350px;
}
.scoreboardContainer {
    min-height: 210px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: rgb(202, 31, 31);
    box-shadow: 10px 5px 5px black;
}
.p1Card,
.p2Card {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.p1Card {
    grid-column: 1/4;
}
.p2Card {
    grid-column: 6/9;
}
.p1Card > h1,
.p2Card > h1 {
    grid-row: 1/4;
    grid-column: 1/7;
    font-family: "Rubik Moonrocks", Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.middleContainer {
    grid-column: 4/6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.versus {
    font-family: "Bangers", Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    font-weight: 700;
    padding-top: 24px;
}
.turnContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
}
.reverseArrow {
    display: none;
    grid-column: 1/2;
    justify-self: end;
}
#reverseArrow {
    height: 50px;
    transform: rotate(180deg);
}
.turn {
    grid-column: 2/8;
    place-self: center;
    font-family: "Bangers", Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}
.arrow {
    display: none;
    grid-column: 8/9;
}
#arrow {
    height: 50px;
}
.winningContainer {
    display: none;
    place-self: center;
    font-family: "Bangers", Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
}
.name,
.markerDisplay,
.wins {
    grid-column: 3/7;
    font-family: "Bangers", Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 25px;
    display: flex;
    place-items: center;
}
.nameDisplay {
    padding-left: 10px;
    font-size: 28px;
}
.markerDisplay {
    grid-row: 5/7;
}
.markerDisplay > img {
    position: relative;
    left: 10px;
}
.winsTally {
    padding-left: 10px;
    font-size: 28px;
}
.modalContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}
.modalh1 {
    font-family: "Bangers", Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    letter-spacing: 0.2rem;
    color: black;
    margin: 0 0 -10px 0;
    padding: 0;
}
.p1 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
    width: 50%;
    height: 50%;
    min-width: 500px;
    min-height: 400px;
    background-color: #36709B;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    top: 20%;
    left: 25%;
    font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.p1 > .nameModal,
.p1 > .marker,
.p2name,
.p2marker {
    display: flex;
    flex-direction: column;
    place-items: center;
}
.nameModal > label,
.p2name > label {
    color: black;
    margin-bottom: 7px;
}
.marker{
    margin-bottom: 3.5px;
}
.nameModal > input,
.p2name > input {
    height: 35px;
    width: 225px;
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    font-family: "Bangers", Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
}
.nameModal > input:focus,
.p2name > input:focus {
    outline-style: none;
    box-shadow: none;
    height: 31px;
    border: 3px solid black;
}
.markerOptions,
.p2markerOptions {
    display: flex;
    place-items: center;
}
.markerOptions > input,
.p2markerOptions > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 54px;
    width: 54px;
    margin: 3.5px -35px 3.5px 0px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:  rgb(235, 235, 235);
    transition-duration: 100ms;
}
.markerOptions > label,
.p2markerOptions > label {
    position: relative;
    right: 19px;
    height: 54px;
}
.markerOptions > label > img,
.p2markerOptions > label > img {
    height: 54px;
    width: 54px;
    transition-duration: 100ms;
}
.markerOptions > input:hover,
.markerOptions > label > img:hover,
.p2markerOptions > input:hover,
.p2markerOptions > label > img:hover {
    filter: invert(100%);
    border-radius: 10px;
    cursor: pointer;
}
.markerOptions > input:checked,
.p2markerOptions > input:checked {
    outline: 5px solid black;
}
.options {
    text-align: center;
}
.gameMode > input {
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 7px 10px 12px 10px;
    background-color:  rgb(235, 235, 235);
    font-weight: bold;
    font-family: "Bangers", Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    transition-duration: 250ms;
}
.gameMode > input:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.p2 {
    display: none;
    grid-row: 5/8;
    grid-template-rows: repeat(3, 1fr);
    place-content: center;
} 
.p2name {
    grid-row: 1/2;
    margin: 2% 0 2% 0;
} .p2name > input {
    margin-bottom: 8px;
}
.p2marker {
    grid-row: 2/3;
    margin: 2% 0 3.5px 0;
}
.startContainer {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.startContainer > button {
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 4% 0 3% 0;
    background-color:  rgb(235, 235, 235);
    font-family: "Bangers";
    font-size: 24px;
    transition-duration: 250ms;
}
.startContainer > button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.extended {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    width: 50vw;
    height: 85vh;
    min-width: 500px;
    min-height: 650px;
    background: #36709B;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    top: 5%;
    left: 25%;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    margin: 2vh 0 1vh 0;
}
.cell {
    border: 3px solid black;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n + 1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}
.cell > img {
    height: 54px;
}
.winningCell > img {
    animation: 600ms linear 150ms infinite alternate grow;
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }
}
.buttonContainer {
    grid-column: 2/6;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}
.rematchbtn {
    grid-row: 1/4;
    margin: 1vh 0 1vh 0;
}
.rematchbtn > input {
    height: 108px;
    min-width: 450px;
    width: 30vw;
    font-family: "Bangers", Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    background-color: rgb(202, 31, 31);
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 3px 3px 10px black;
    transition-duration: 150ms;
}
.rematchbtn > input:hover {
    transform: scale(1.15);
    cursor: pointer;
}
.restartbtn {
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.restartbtn > label > input {
    height: 36px;
    width: auto;
    font-family: "Bangers", Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: transparent;
    border: none;
    padding: 0 7px 0 7px;
    transition-duration: 150ms;
}
.restartbtn > label > input:hover {
    transform: scale(1.15);
    cursor: pointer;
}
.restartbtn > label {
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
}
.footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.info {
    grid-column: 6/7;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}
.links {
    grid-row: 4/6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links > a {
    margin: 0 2% 0 2%;
    transition-duration: 1000ms;
}
.links > a:hover {
    transform: rotate(360deg);
}
.links > a > img {
    height: 48px;
    width: 48px;
}
.links > a > img#github {
    height: 54px;
    width: 54px;
}
.grin {
    grid-row: 6/7;
    justify-self: center;
    font-family: "Bebas Neue";
}