.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    border: 1px solid black;
}
.square {
    border: 1px solid black;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}